.container-activity {
    width: 680px;
    height: 260px;
    margin-left: 15%;
}

@media screen and (min-width: 1440px) {
    .container-activity {
      width: 835px;
      height: 320px;
      margin-left: 15%;
    }
  }