.container-average {
  width: 200px;
  height: 200px;
  background: linear-gradient(to right, #FF0000 75%, rgb(178, 34, 34)70%);
  border-radius: 5px;
}

@media screen and (min-width: 1440px) {
  .container-average {
    width: 258px;
    height: 263px;
  }
}