.container-column {
    display: flex;
    flex-direction: column;
    margin-top: 200px; 
}

.container-column > div{
    display: grid;
    gap: 4.6rem;
    margin-top: 20%;
}

.data-item {
    display: flex;
    justify-content: center;
    background-color: #FBFBFB;
    width: 170px;
    border-radius: 6px;
    padding: 12px;
    gap: 10px;
    margin-left: 30px;
}

.data-img {
    width: 40px;
    height: 40px;
}

.data-value {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.data-label {
    font-size: 14px;
    color: #555;
    margin: 0;
}
