
.header {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    padding: 0 20px;
    height: 91px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
}

.logo {
    height: 60px;
    margin-right: 20px;
    margin-left: -90px;
}

.nav-links {
    display: flex;
    gap: 15%;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    padding: 8px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 91px;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.nav-image {
    width: 55px;
    height: 300px;
    margin-top: 250px;
}

.copy-image {
    height: 138px;
    width: 24px;
    margin-bottom: 20px;
}

.sidebar img {
    margin-bottom: 30px;
}



body {
    padding: 0;
    height: 100vh;
    overflow-y: auto;
}

.text {
    color: white;
    transform: rotate(-90deg);
    width: 200px;
    height: 24px;
    margin-bottom: 120px;
    font-size: 12px;
}


