.container-perf {
    width: 200px;
    height: 200px;
    background: #fBfBfB;
    border-radius: 5px;
}

@media screen and (min-width: 1440px) {
    .container-perf {
      width: 260px;
      height: 260px;
    }
  }