
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.container-display {
  display: flex;
  width: 640px;
  height: 200px;
  margin-left: 150px;
  gap: 30px;
  margin-top: 30px;
}

.container-css {
    flex: 1;
    position: sticky; /* Garde ColumnImg visible pendant le scroll */
    top: 20px;
  
}